<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Google maps Route App</a>
    </header>
    <form action="/result" method="post" class="form" name="form" onsubmit="return check();">
      <input type="text" name="origin" placeholder="出発地">
      <input type="text" name="destination" placeholder="目的地">
      <input type="submit" value="検索する">
    </form>
    <script type="text/javascript">
      function check(){
        if(!document.form.origin.value || !document.form.destination.value){
          alert("未入力の項目があります");
          return false;
        }
      }
    </script>
  </body>
</html>
