/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

img {
  margin: 100px,100px;
}

/* top ================================ */
/* header ================================ */
header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

.header-logo:hover {
  color: #58d2b2;
}

/* container ================================ */
.container {
  width: 80%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container-header .new-button {
  background: #80bcff;
  border-radius: 30px;
  font-size: 14px;
  width: 120px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #80bcff;
}

.container-header .new-button:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

.container-header h1 {
  font-size: 24px;
}

.item{
    max-width: 30%;
    margin: 0 auto;
    margin-top: 56px;
}

.form{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 56px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
}

.id-column {
  width: 72px;
  text-align: center;
}

.origin-column{
    width: 200px;
    text-align: center;
}

.destination-column{
      width: 200px;
      text-align: center;
}

.table-body {
  background-color: #ffffff;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}

.item-data {
  display: flex;
}

.item-menu {
  display: flex;
}

.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
